FPGA/db
FPGA/incremental_db
FPGA/output_files
FPGA/DataFetcher.vhd.bak
FPGA/ImageProc_assignment_defaults.qdf
FPGA/c5_pin_model_dump.txt
*.bak

\.vs/
Software/kernel_test.in
Software/kernel_test.out
FPGA/ImageProc_nativelink_simulation\.rpt

FPGA/ImageProc\.qsf

FPGA/simulation/modelsim/ImageProc_modelsim\.xrf

FPGA/simulation/modelsim/ImageProc_run_msim_rtl_vhdl\.do

FPGA/simulation/modelsim/msim_transcript

FPGA/simulation/modelsim/rtl_work/_info

FPGA/simulation/modelsim/rtl_work/_lib\.qdb

FPGA/simulation/modelsim/rtl_work/_lib1_0\.qdb

FPGA/simulation/modelsim/rtl_work/_lib1_0\.qpg

FPGA/simulation/modelsim/rtl_work/_lib1_0\.qtl
.vscode